	<!--<footer class="footeruser heading_xxsmaller" style="font-size:14px;vertical-align:middle;text-align: center;"> &copy; 2017&nbsp;&nbsp;<i class="fa fa-phone-square fa-lg" style="vertical-align: middle;color: #555 !important" aria-hidden="true"></i>&nbsp;&nbsp;<span style="font-size:18px;vertical-align:middle;text-align: center;">&nbsp;SMART CONTACT</span> </footer>-->

	<footer class="footeruser question_enroll_txt_xs" style="font-size:10px !important;vertical-align:middle;text-align: center;background:#5c41a2 !important">
    <span style="color:#ffffff" class="campaign_enroll_txt"> &copy; 2016&nbsp;&nbsp;&nbsp;<span style="font-size:18px;vertical-align:middle;text-align: center;">&nbsp; <IMG SRC="assets/img/scfooter.png" /></span> </span>                                                   
    </footer>