<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	
            <div class="centerdiv" style="padding:5px;border-right: 1px solid #ececec;padding-right:-30px">
            <img src="assets/img/schead.png" />
            </div>
	</div>
	
	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav" >
			<li class="dropdown mega-dropdown" style="border-right: 1px solid #ececec;">
				<a href="#" class="dropdown-toggle navcolor heading_xxsmaller" data-toggle="dropdown"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Reports <span class="caret"></span></a>				
				<ul class="dropdown-menu mega-dropdown-menu heading_xxsmaller">
					<li class="col-sm-2">
						<ul>
							<li class="dropdown-header heading_xsmaller navcolor"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp;&nbsp;Reporting</li>                            
                           
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Campaign Reporting</li>
                            
							<li class="divider"></li>
							<li><a href="#" class="scnav_user_campaign">Campaign Dashboard</a></li>
                            <li><a href="#" class="create_new_camp_btn">Campaign Creation Wizard</a></li>
                            <li><a href="#" class="scnav_user_campaignpefsum">Campaign Performance</a></li>
                           
                             <li><a href="#" class="scnav_user_roi">ROI Calculator</a></li>
						</ul>

					</li>
                    		<li class="col-sm-3">
						<ul>
							

							<li class="dropdown-header">Response Reporting</li>
                            
							<li class="divider"></li>
                            <li><a href="#" class="scnav_user_responded_rep">Responded Contact Report</a></li>
							<li><a href="#" class="scnav_user_appt_rep">Appointment Report</a></li>
                          <li><a href="#" class="scnav_user_attstatus">Attempt Status Summary</a></li>
						</ul>
                              

					</li>
                    	<li class="col-sm-3">
                      <ul>
							<li class="dropdown-header">User Reporting</li>
							<li class="divider"></li>
                            <li><a href="#" class="scnav_user_act" data-edittype="useractdetail">User Activity Detail</a></li>
							<li><a href="#" class="scnav_user_act" data-edittype="useractsummary">User Activity Summary</a></li>
						</ul>
	</li>
					<!--<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Plus</li>
							<li><a href="#">Navbar Inverse</a></li>
							<li><a href="#">Pull Right Elements</a></li>
							<li><a href="#">Coloured Headers</a></li>                            
							<li><a href="#">Primary Buttons & Default</a></li>							
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Much more</li>
                            <li><a href="#">Easy to Customize</a></li>
							<li><a href="#">Calls to action</a></li>
							<li><a href="#">Custom Fonts</a></li>
							<li><a href="#">Slide down on Hover</a></li>                         
						</ul>
					</li>-->
				</ul>				
			</li>
            <li class="dropdown mega-dropdown" style="border-right: 1px solid #ececec;">
    			<a href="#" class="dropdown-toggle heading_xxsmaller navcolor" data-toggle="dropdown"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Campaign <span class="caret"></span></a>				
					<ul class="dropdown-menu mega-dropdown-menu  heading_xxsmaller">
					<li class="col-sm-2">
						<ul>
							<li class="dropdown-header heading_xsmaller navcolor"><i class="fa fa-list" aria-hidden="true"></i>&nbsp;&nbsp;Campaign Management</li>                            
                           
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Campaign Management</li>
                               <li class="divider"></li>
                              <li><a href="#" class="scnav_user_audio_enroll">Campaign Audio</a></li>
                            <li><a href="#" class="scnav_user_main_update" data-edittype="bizrules_e">Campaign Business Rules</a></li>
							<li><a href="#" class="scnav_user_main_update" data-edittype="script_e" >Edit Script</a></li>
						    <li><a href="#" class="scnav_user_main_update" data-edittype="email_e">Edit Email</a></li>           
						</ul>
					</li>
                        	<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">List Management</li>
                               <li class="divider"></li>
                            	<li><a href="#" class="scnav_user_respond_rep">Responder Removal</a></li>
							<li><a href="#">Purchase List</a></li>
                            <li><a href="#" class="scnav_user_main_update" data-edittype="addlistup_e">Add List Upload</a></li>
                            <li><a href="#" class="scnav_user_main_update" data-edittype="addlistsingle_e">Add List Entry</a></li>
                            <!--<li><a href="#">Left & Right Navigation</a></li>
							<li><a href="#">Four Columns Grid</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Fonts</li>
                            <li><a href="#">Glyphicon</a></li>
							<li><a href="#">Google Fonts</a></li>-->
						</ul>
					</li>
					<li class="col-sm-3">
						<ul>
							<li class="dropdown-header">Appointments</li>
                               <li class="divider"></li>
							<li><a href="#" class="scnav_user_main_update"  data-edittype="appt_e">Appointment Setup</a></li>
							<!--<li><a href="#"></a></li>-->						
						</ul>
					</li>
				
				</ul>				
						
	        <li><a href="#" class="scnav_user_mgt heading_xxsmaller navcolor" style="border-right: 1px solid #ececec;"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;User Management</a></li>
	        <li><a href="#" class="heading_xxsmaller navcolor dial_btn" style="border-right: 1px solid #ececec;"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;Dial</a></li>
		</ul>
        <ul class="nav navbar-nav navbar-right">
        <li style="border-right: 1px solid #ececec;border-left: 1px solid #ececec;" class="userinfo_cl"><a href="#" class="heading_xxsmaller navcolor"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp; <%= JSON.parse(user).first_name%>.<%= JSON.parse(user).last_name.substring(0, 1);%></a></li>
                <li class="dropdown">
          <a href="#" class="dropdown-toggle heading_xxsmaller navcolor" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-cog" aria-hidden="true"></i>&nbsp;&nbsp;My Account&nbsp;&nbsp;<span class="caret"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <ul class="dropdown-menu heading_xxsmaller" role="menu">
          <!--  <li><a href="#" class="heading_xxsmaller"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Edit Preferences</a></li>-->
            <li class="userinfo_cl"><a class="heading_xxsmaller"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Edit User Info</a></li>
           <li class="customer_cl" style="display:none"><a class="heading_xxsmaller"><i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp;&nbsp;Add |Edit Customer</a></li>
            <li class="divider"></li>
            <li><a href="/logoutuser"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;&nbsp;Logout</a></li>
          </ul>
        </li>
    
      </ul>
	</div><!-- /.nav-collapse -->
  </nav>
</div>
