     <div class="main-content mmnu_trustcontent" style="display:none">

                            <div class="row">



                                <div class="col-md-6" >



                                    <!-- WIDGET COMPLETE -->
                                    <div class="widget">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-sun-o fa-spin"></i> <span class="weathernamespan"></span></h3>

                                            <div class="btn-group widget-header-toolbar">
                                                <a href="#" title="" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>


                                            </div>
                                        </div>
                                        <div class="widget-content">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <canvas id="iconcurr" width="52" height="52"></canvas>
                                                    </td>
                                                    <td style="padding-left:15px">

                                                        <h3> <span class="currentcond"></span></h3>
                                                    </td>

                                                </tr>

                                            </table>


                                        </div>

                                        <table class="table forcasttbl">
                                            <tr>
                                                <td>
                                                    <span class="icontxt1" style="color:#859419"></span>

                                                </td>
                                                <td>
                                                    <span class="icontxt2"></span>

                                                </td>
                                                <td>
                                                    <span class="icontxt3"></span>

                                                </td>
                                                <td>
                                                    <span class="icontxt4"></span>

                                                </td>
                                                <td>
                                                    <span class="icontxt5"></span>

                                                </td>
                                                <td>
                                                    <span class="icontxt6"></span>

                                                </td>
                                                <td>
                                                    <span class="icontxt7"></span>

                                                </td>
                                                <td>
                                                    <span class="icontxt8"></span>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                    <canvas id="icon1" width="52" height="52"></canvas>
                                                </td>
                                                <td>

                                                    <canvas id="icon2" width="52" height="52"></canvas>
                                                </td>
                                                <td>

                                                    <canvas id="icon3" width="52" height="52"></canvas>
                                                </td>
                                                <td>

                                                    <canvas id="icon4" width="52" height="52"></canvas>
                                                </td>
                                                <td>

                                                    <canvas id="icon5" width="52" height="52"></canvas>
                                                </td>
                                                <td>

                                                    <canvas id="icon6" width="52" height="52"></canvas>
                                                </td>
                                                <td>

                                                    <canvas id="icon7" width="52" height="52"></canvas>
                                                </td>
                                                <td>

                                                    <canvas id="icon8" width="52" height="52"></canvas>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="iconHL1"></span>

                                                </td>
                                                <td>
                                                    <span class="iconHL2"></span>

                                                </td>
                                                <td>
                                                    <span class="iconHL3"></span>

                                                </td>
                                                <td>
                                                    <span class="iconHL4"></span>

                                                </td>
                                                <td>
                                                    <span class="iconHL5"></span>

                                                </td>
                                                <td>
                                                    <span class="iconHL6"></span>

                                                </td>
                                                <td>
                                                    <span class="iconHL7"></span>

                                                </td>
                                                <td>
                                                    <span class="iconHL8"></span>

                                                </td>
                                            </tr>
                                        </table>


                                    </div>


                                        <!--begin WIDGET local new COMPLETE -->
                                    <div class="widget widget-scrolling">
                                        <div class="widget-header">
                                            <h3>Local News</h3>

                                            <div class="btn-group widget-header-toolbar">
                                                <a href="#" title="" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>


                                            </div>
                                        </div>
                                        <div class="widget-content">
                                            <div class="localnewsdiv">
                                                <table class="table table-hover localnewstable">

                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- End new local COMPLETE -->

                                    <!--begin WIDGET Entertaint new COMPLETE -->
                                    <div class="widget widget-scrolling">
                                        <div class="widget-header">
                                            <h3>World News</h3>

                                            <div class="btn-group widget-header-toolbar">
                                                <a href="#" title="" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>


                                            </div>
                                        </div>
                                        <div class="widget-content">
                                            <div class="entnews newsA">
                                                <table class="table table-hover entnewstable">

                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- End new Entertaint COMPLETE -->
                                    <!--begin WIDGET Entertaint new COMPLETE -->
                                    <div class="widget widget-scrolling">
                                        <div class="widget-header">
                                            <h3>General News</h3>

                                            <div class="btn-group widget-header-toolbar">
                                                <a href="#" title="" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>


                                            </div>
                                        </div>
                                        <div class="widget-content">
                                            <div class="regnews newsA">
                                                 <table class="table table-hover gennewstable">

                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                    <!-- End new Entertaint COMPLETE -->


                                </div>
                                <!-- END WIDGET COMPLETE -->

                                    <div class="col-md-6">
                                    <!-- WIDGET GOOGLE MAP
                                    <div class="widget">
                                        <div class="widget-header">
                                            <h3><i class="fa fa-globe"></i> Record Location Map</h3>
                                        </div>
                                        <div class="widget-content no-padding">
                                            <div class="google-map">
                                                <div id="map-canvas"></div>
                                            </div>
                                        </div>
                                    </div>
                                     END WIDGET GOOGLE MAP -->
                                    </div>
                              
                              
                              
                                </div>
                        </div>