     <div class="main-content mmnu_agentdashboard" style="display:none">
                            <div class="row">
                               <div class="col-md-8">
							<!-- WIDGET ACTIVITY FEED -->
							<div class="widget widget-scrolling">
								<div class="widget-header">
									<h3><i class="fa fa-fire"></i>Contact Center Activity Feed</h3>
									<div class="btn-group widget-header-toolbar">
										<a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
                                        </div>
											<div class="btn-group widget-header-toolbar">
                                        	<a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
									</div>
								</div>
								<div class="widget-content">
									<ul class="list-unstyled activity-list">
										<li>
											<i class="fa fa-check activity-icon pull-left icon-success"></i>
											<p>All project tasks are on schedule <span class="timestamp">2 minutes ago</span></p>
										</li>
										<li>
											<i class="fa fa-check-circle activity-icon pull-left icon-success"></i>
											<p>The system is running well, no error found. <span class="timestamp">4 minutes ago</span></p>
										</li>
										<li>
											<i class="fa fa-unlock activity-icon pull-left icon-danger"></i>
											<p>You have unsecure file permission on this project. Go to <a href="">File Manager</a> to fix it <span class="timestamp">15 minutes ago</span></p>
										</li>
										<li>
											<i class="fa fa-bug activity-icon pull-left icon-info"></i>
											<p>New <a href="#">bug report</a> has been submitted <span class="timestamp">1 hour ago</span></p>
										</li>
										<li>
											<i class="fa fa-close activity-icon pull-left icon-danger"></i>
											<p>Background job <a href="#">#783458</a> has failed. See the <a href="#">logs</a> <span class="timestamp">3 hour ago</span></p>
										</li>
										<li>
											<i class="fa fa-flag activity-icon pull-left icon-success"></i>
											<p>Project <a href="#">Social Boost</a> has been flagged as finished <span class="timestamp">Yesterday</span></p>
										</li>
										<li>
											<i class="fa fa-print activity-icon pull-left icon-warning"></i>
											<p>You have <a href="#">pending documents</a> on the printer server <span class="timestamp">Yesterday</span></p>
										</li>
									</ul>
							
								</div>
							</div>
							<!-- END WIDGET ACTIVITY FEED -->

         
							
						
                                 







                                   <!-- WIDGET TABBED CONTENT -->
							<div class="widget">
								<div class="widget-header">
									<h3>Quick Notes</h3>
									<ul class="nav nav-tabs pull-right">
										<li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-user"></i> Tab 1</a></li>
										<li ><a href="#tab2" data-toggle="tab" style="color:white"><i class="fa fa-gear"></i> Tab 2</a></li>
									</ul>
								</div>
								<div class="widget-content">
									<div class="tab-content no-padding">
										<div class="tab-pane fade in active" id="tab1">
												<!-- WIDGET QUICK NOTE -->
							<div class="widget widget-quick-note quick-note-create">
								<div class="widget-content">
									<form class="form-horizontal" role="form">
										<input type="text" class="form-control title" name="title" placeholder="Title">
										<textarea class="form-control" rows="1" cols="30" name="note-content" placeholder="Add quick note"></textarea>
									</form>
								</div>
								<div class="widget-footer">
									<div class="btn-group">
										<button type="button" class="btn btn-clean" data-toggle="tooltip" data-placement="bottom" data-original-title="Add Image"><i class="fa fa-image"></i> <span class="sr-only">Add Image</span></button>
										<button type="button" class="btn btn-clean" data-toggle="tooltip" data-placement="bottom" data-original-title="Remind Me"><i class="fa fa-bell"></i> <span class="sr-only">Remind Me</span></button>
										<button type="button" class="btn btn-clean" data-toggle="tooltip" data-placement="bottom" data-original-title="Share"><i class="fa fa-share-alt"></i> <span class="sr-only">Share</span></button>
									</div>
									<button type="button" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Save</button>
								</div>
							</div>
							<!-- END WIDGET QUICK NOTE -->
										</div>
										<div class="tab-pane fade" id="tab2">
											Professionally maximize unique portals whereas out-of-the-box interfaces. Monotonectally optimize B2C communities through high-payoff methods of empowerment. Enthusiastically transition intermandated value whereas multidisciplinary portals. Credibly recaptiualize ethical ROI without stand-alone deliverables. Progressively extend progressive networks for one-to-one process improvements. Distinctively underwhelm resource sucking products and market-driven meta-services. Uniquely target granular bandwidth through compelling customer service. Dramatically mesh parallel initiatives.
										</div>
									</div>
								</div>
							</div>
							<!-- END WIDGET TABBED CONTENT -->



						</div>
                              
                                	<div class="col-md-4">
							<!-- DRAG AND DROP TODO LIST -->
							<div class="widget ">
								<div class="widget-header">
									<h3><i class="fa fa-bar-chart-o"></i> To-Do List</h3> 
             			
                                    		<div class="btn-group widget-header-toolbar">
                                        		<button type="button" class="btn btn-danger btn-sm btn-ajax add_btn_db"><i class="fa fa-trash-o"></i> <span><b>Remove</b></span></button>
                                 				</div>
							<div class="btn-group widget-header-toolbar">
                                        		<button type="button" class="btn btn-success btn-sm rem_btn_db"><i class="fa fa-plus"></i> <span><b>Add</b></span></button>
                                 				</div>
                                    			<div class="btn-group widget-header-toolbar">
                                   
										<a href="#" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
								
									</div>
									<div class="widget-header-toolbar process-status">
										<span class="loading"><i class="fa fa-spinner fa-spin"></i> Loading ...</span>
										<span class="saved green-font"><i class="fa fa-check"></i> Saved</span>
										<span class="failed red-font"><i class="fa fa-remove"></i> Failed</span>
									</div>
								</div>
								<div class="widget-content">
									<ul id="dragdrop-todo" class="list-unstyled todo-list">
										<li>
											<span class="list-control">
															<span class="handle"><i class="fa fa-bars"></i></span>
											<label class="control-inline fancy-checkbox">
												<input type="checkbox"><span></span>
											</label>
											</span>
											<p>
												<strong>Restart Server</strong><span class="label label-danger">High</span>
												<span class="short-description">Dynamically integrate client-centric technologies without cooperative resources.</span>
												<span class="date text-muted">Jun 9, 2014</span>
											</p>
										</li>
										<li>
											<span class="list-control">
															<span class="handle"><i class="fa fa-bars"></i></span>
											<label class="control-inline fancy-checkbox">
												<input type="checkbox"><span></span>
											</label>
											</span>
											<p>
												<strong>Retest Upload Scenario</strong><span class="label label-warning">Medium</span>
												<span class="short-description">Compellingly implement clicks-and-mortar relationships without highly efficient metrics.</span>
												<span class="date text-muted">Jun 23, 2014</span>
											</p>
										</li>
										<li>
											<span class="list-control">
															<span class="handle"><i class="fa fa-bars"></i></span>
											<label class="control-inline fancy-checkbox">
												<input type="checkbox"><span></span>
											</label>
											</span>
											<p>
												<strong>Functional Spec Meeting</strong><span class="label label-info">Low</span>
												<span class="short-description">Monotonectally formulate client-focused core competencies after parallel web-readiness.</span>
												<span class="date text-muted">Jun 11, 2014</span>
											</p>
										</li>
										<li>
											<span class="list-control">
															<span class="handle"><i class="fa fa-bars"></i></span>
											<label class="control-inline fancy-checkbox">
												<input type="checkbox"><span></span>
											</label>
											</span>
											<p>
												<strong>Export User Database</strong><span class="label label-warning">Medium</span>
												<span class="short-description">Enthusiastically restore granular paradigms before timely leadership skills. Compellingly reconceptualize 2.0 e-business for compelling resources. Progressively create team driven technologies after intermandated web-readiness.</span>
												<span class="date text-muted">Jun 21, 2014</span>
											</p>
										</li>
										<li>
											<span class="list-control">
															<span class="handle"><i class="fa fa-bars"></i></span>
											<label class="control-inline fancy-checkbox">
												<input type="checkbox"><span></span>
											</label>
											</span>
											<p>
												<strong>Conduct A/B Testing</strong><span class="label label-danger">High</span>
												<span class="short-description">Dramatically unleash cross-platform internal or "organic" sources with integrated convergence. Quickly aggregate backward-compatible e-commerce and B2B.</span>
												<span class="date text-muted">Jun 30, 2014</span>
											</p>
										</li>
									</ul>
								</div>
							</div>
							<!-- END DRAG AND DROP TODO LIST -->
						</div>
                            
                            </div>


     </div>